@model DGWebApp.ASSIGNED

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ASSIGNED</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateIssued)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateIssued)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODULE1.MAC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODULE1.MAC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STUDENT1.StudentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STUDENT1.StudentID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
